# Dependencies
node_modules/
dist/

docs/

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log

# OS files
.DS_Store

# Twitter cookies
twitter-cookies.json

# Twitter cookie path
twitter_cookie.json

*.pem
*.key

*.db
*.sqlite

pnpm-lock.yaml
pnpm-workspace.yaml